[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
pyautogui = "*"
python-dotenv = "*"
opencv-python = "*"
psycopg2 = "*"
selenium = "*"
pylint = "*"
flet = "*"
pyinstaller = "*"
windows-curses = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
